.jumbotron1{
    background-image: url(https://images.unsplash.com/photo-1472806679307-eab7abd1eb32?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    background-image: 100%;
    background-size:cover;
}

.jumbotron2{
    background-image: url(https://images.unsplash.com/uploads/14128324071271c853818/3765c625?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80);
}
.jumbotron3{
    background-image: url(https://images.unsplash.com/36/xIsiRLngSRWN02yA2BbK_submission-photo-7.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2065&q=80);
}
.jumbotron4{
    background-image: url(https://images.unsplash.com/photo-1438978187846-8e00862e53f7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}
.jumbotron5{
    background-image: url(https://c.pxhere.com/photos/c5/9a/action_asphalt_autumn_colours_blur_drive_fall_fall_foliage_highway-1175772.jpg!d);
    background-image: 100%;
    background-size:cover;

}
.jumbotron{
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    background-color: rgba(0, 0, 0, 0.5);
}
